body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  header h1 {
    margin: 0;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  header p {
    margin: 5px 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .job-title {
    margin-top: 0;
    font-weight: bold;
  }
  
  .job-date,
  .education-date {
    margin-top: 0;
    color: #888;
  }
  
  .company-logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 30%;
    margin-right: 20px;
  }
  
  .company-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .company-details {
    flex-grow: 1;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills li {
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  a{
    color: white;
  }